.fade-in
{

animation:
fadeIn .5s forwards;

}



.slide-up
{

animation:
slideUp .5s forwards;

}



@keyframes fadeIn
{

from
{

opacity:0;

filter:
blur(10px);

}


to
{

opacity:1;

filter:
blur(0);

}


}



@keyframes slideUp
{

from
{

opacity:0;

transform:
translateY(30px);

}



to
{

opacity:1;

transform:
translateY(0);

}


}



.page-enter
{

animation:

pageEnter
.6s cubic-bezier(
0.16,
1,
0.3,
1
);


}



@keyframes pageEnter
{

from
{

opacity:0;

transform:

translateY(30px)
scale(.96);


filter:
blur(15px);

}



to
{

opacity:1;

transform:

translateY(0)
scale(1);


filter:
blur(0);

}


}
#splash
{

position:absolute;

inset:0;

background:#050505;

z-index:999;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;


animation:
splashExit 1s ease 2s forwards;

}



.splash-logo
{

font-size:90px;

color:var(--accent);

animation:
pulse 1.5s infinite;

}



#splash h1
{

font-size:50px;

letter-spacing:10px;

}



@keyframes pulse
{

50%
{

transform:
scale(1.2);

}

}



@keyframes splashExit
{

to
{

opacity:0;

visibility:hidden;

}

}